# Ejercicios Básicos Python

Vanessa Stefanía Linares Núñez
1723237

### Ejercicio 1
Realiza una variable con tu matrícula y realiza una secuencia de imprimir con tu nombre y tu matrícula concatenados:

In [1]:
Matricula=1723237
Nombre="Vanessa Stefanía Linares Núñez"

print(Nombre, Matricula)

Vanessa Stefanía Linares Núñez 1723237

### Ejercicio 2
Pidiendo el input del usuarios pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división y exponente:

In [2]:
x=float(input("Ingrese el primer número: "))
y=float(input("Ingrese el segundo número: "))

Suma=x+y
Resta=x-y
Multiplicacion=x*y
Division=x/y
Exponente=x**y

print("El resultado de la suma de los numeros es: ", Suma)
print("El resultado de la resta de los numeros es: ", Resta)
print("El resultado de la multiplicación de los numeros es: ", Multiplicacion)
print("El resultado de la división de los numeros es: ", Division)
print("El resultado de elevar el primer numero al exponente del segundo es: ", Exponente)

Ingrese el primer número: 4
Ingrese el segundo número: 3
El resultado de la suma de los numeros es:  7.0
El resultado de la resta de los numeros es:  1.0
El resultado de la multiplicación de los numeros es:  12.0
El resultado de la división de los numeros es:  1.3333333333333333
El resultado de elevar el primer numero al exponente del segundo es:  64.0

### Ejercicio 3
Con loop while o for, realiza una lista de 10 numeros múltiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [8]:
num=3
suma=0
print("Primeros 10 numeros múltiplos de 3:")
for i in range(1,11):
    multiplo=i*num
    print(multiplo)

for i in range(1,11):
    suma=suma+(i*num)
    
    
print("\nEl resultado de la suma de los primeros 10 multiplos de 3 es: ", suma)

Primeros 10 numeros múltiplos de 3:
3
6
9
12
15
18
21
24
27
30

El resultado de la suma de los primeros 10 multiplos de 3 es:  165

### Ejercicio 4
* Con una función de if else, revisar si un número es par o es impar.

In [2]:
x=int(input("Ingrese un numero: "))

prueba=x%2

if prueba==0:
    print("El numero es par")
else:
    print("El numero es impar")

Ingrese un numero: 0
El numero es par

* Con una función de if else, revisar si un número es primo o no.

In [6]:
x=int(input("Ingrese un numero: "))
c=0

for i in range(2,x):
    if x%i==0:
        c=+1
if c>0:
    print("El numero no es primo")
else:
    print("El numero es primo")

Ingrese un numero: 17
El numero es primo

### Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [3]:
def add(x, y):
   """Suma"""

   return x + y

def subtract(x, y):
   """Resta"""

   return x - y

def multiply(x, y):
   """Multiplicación"""

   return x * y

def divide(x, y):
   """División"""

   return x / y

x1 = int(input("Ingrese el primer número: "))
x2 = int(input("Ingrese el segundo número: "))

print("\nMenú:")
print("\n1. Sumar")
print("2. Restar")
print("3. Multiplicación")
print("4. División")

choice = input("\nIngrese su elección (1/2/3/4):")

if choice == '1':
   print(x1,"+",x2,"=", add(x1,x2))

elif choice == '2':
   print(x1,"-",x2,"=", subtract(x1,x2))

elif choice == '3':
   print(x1,"*",x2,"=", multiply(x1,x2))

elif choice == '4':
   print(x1,"/",x2,"=", divide(x1,x2))
else:
   print(x1,"^",x2,"=",exp(x1,x2))

Ingrese el primer número: 10
Ingrese el segundo número: 30

Menú:

1. Sumar
2. Restar
3. Multiplicación
4. División

Ingrese su elección (1/2/3/4):3
10 * 30 = 300

### Ejercicios con Estructuras Básicas de Python

#### Tuplas
* Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [6]:
w=3.1416
x=22
y=True
z=2.1 + 7.8j

tupla=(w,x,y,z)

print("Tupla:", tupla)

print("\n Tipos de variables en la tupla: ",type(w),type(x),type(y),type(z))

Tupla: (3.1416, 22, True, (2.1+7.8j))

 Tipos de variables en la tupla:  <class 'float'> <class 'int'> <class 'bool'> <class 'complex'>

* Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [9]:
tupla=(1,2,3,4,5,6,7,8,9,10)
print(tupla)

print("\nPrimer valor: ",tupla[0], "\nUltimo valor: ",tupla[len(tupla)-1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Primer valor:  1
Ultimo valor:  10

* Añadir 3 valores de string a la tupla.

In [10]:
nuevos=("Nombre","Edad","Sexo")
tupla2=tupla+nuevos

print(tupla2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Nombre', 'Edad', 'Sexo')

* Verificar si una variable existe dentro de la tupla.

In [18]:
x = input("Ingrese la variable que desea verificar:")

respuesta=x in tupla2


if respuesta==True:
    print("La variable ",x," se encuentra en la tupla")
else:
    print("La variable ",x," no se encuentra en la tupla")

Ingrese la variable que desea verificar:67
La variable  67  no se encuentra en la tupla

#### Listas
* Crear una lista con 40 elementos aleatorios enteros.

In [50]:
import random as r
lista=[]
for i in range(1,41):
    lista.append(r.randint(0,100))
print (lista)

[44, 33, 80, 55, 43, 74, 13, 45, 46, 56, 56, 72, 41, 27, 60, 50, 48, 36, 66, 41, 32, 40, 15, 99, 29, 65, 98, 92, 43, 27, 74, 86, 93, 52, 68, 52, 86, 7, 74, 73]

* Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [33]:
print("Lista principal:", lista)
par=[]
impar=[]
def Clasificacion(lista):
    for i in range(len(lista)):
        comprobar=i%2
        if comprobar==0:
            elemento=i
            par.append(elemento)
        else:
            elemento=i
            impar.append(elemento)
    print("\nEstos numeros pertenecen a la lista de numeros pares: ", par)
    print("\nEstos numeros pertenecen a la lista de números impares: ", impar)

Clasificacion(lista)

[94, 93, 52, 49, 64, 79, 77, 16, 85, 87, 85, 87, 35, 40, 20, 66, 96, 35, 75, 49, 98, 69, 85, 38, 99, 42, 31, 68, 16, 72, 8, 42, 4, 77, 43, 34, 42, 100, 4, 51, 3, 4, 9, 6, 1]

Estos numeros pertenecen a la lista de numeros pares:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

Estos numeros pertenecen a la lista de números impares:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [34]:
longpar=len(par)
longimp=len(impar)

print("Cantidad de numeros pares: ", longpar, "\nCantidad numeros impares: ", longimp)

Cantidad de numeros pares:  23
Cantidad numeros impares:  22

* Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor

In [40]:
parordenados = sorted(par, reverse=True)
imparordenados = sorted(impar)
print("\nLista datos pares en orden de mayor a menor:\n",parordenados,"\nLista datos impares en orden de menor a mayor:\n",imparordenados)

Lista datos pares en orden de mayor a menor:
 [44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]
Lista datos impares en orden de menor a mayor:
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]

* Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [51]:
print("Lista original: ", lista)

lista.reverse()
print("\n\n1. Invertimos el orden de la lista:",lista)

lista.append("Vanessa")
print("\n\n2. Agregamos un nuevo elemento: ", lista)

lista.pop()
print("\n\n3. Eliminamos el ultimo elemento de la lista:",lista)

lista.sort()
print("\n\n4. Ordenamos los elementos de la lista:",lista)

Lista original:  [44, 33, 80, 55, 43, 74, 13, 45, 46, 56, 56, 72, 41, 27, 60, 50, 48, 36, 66, 41, 32, 40, 15, 99, 29, 65, 98, 92, 43, 27, 74, 86, 93, 52, 68, 52, 86, 7, 74, 73]


1. Invertimos el orden de la lista: [73, 74, 7, 86, 52, 68, 52, 93, 86, 74, 27, 43, 92, 98, 65, 29, 99, 15, 40, 32, 41, 66, 36, 48, 50, 60, 27, 41, 72, 56, 56, 46, 45, 13, 74, 43, 55, 80, 33, 44]


2. Agregamos un nuevo elemento:  [73, 74, 7, 86, 52, 68, 52, 93, 86, 74, 27, 43, 92, 98, 65, 29, 99, 15, 40, 32, 41, 66, 36, 48, 50, 60, 27, 41, 72, 56, 56, 46, 45, 13, 74, 43, 55, 80, 33, 44, 'Vanessa']


3. Eliminamos el ultimo elemento de la lista: [73, 74, 7, 86, 52, 68, 52, 93, 86, 74, 27, 43, 92, 98, 65, 29, 99, 15, 40, 32, 41, 66, 36, 48, 50, 60, 27, 41, 72, 56, 56, 46, 45, 13, 74, 43, 55, 80, 33, 44]


4. Ordenamos los elementos de la lista: [7, 13, 15, 27, 27, 29, 32, 33, 36, 40, 41, 41, 43, 43, 44, 45, 46, 48, 50, 52, 52, 55, 56, 56, 60, 65, 66, 68, 72, 73, 74, 74, 74, 80, 86, 86, 92, 93, 98, 99]

### Diccionarios
* Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [1]:
diccionario1={"Montserrat":18,"Brisa":20,"Liliana":21,"Victoria":27,"Nora":22,"Daniela":26}
print(diccionario1)

{'Montserrat': 18, 'Brisa': 20, 'Liliana': 21, 'Victoria': 27, 'Nora': 22, 'Daniela': 26}

* Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [3]:
edades=[diccionario1.values()]
edades.sort()
print("edades en orden: ",edades)

edades en orden:  [dict_values([18, 20, 21, 27, 22, 26])]

* Usando el diccionario y un loop, imprimir solo los nombres.

In [8]:
for i in diccionario1.keys():
    print(i)

Montserrat
Brisa
Liliana
Victoria
Nora
Daniela

* Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [10]:
diccionario1["Elisa"]=20
diccionario1["Ailyn"]=21
print(diccionario1)

{'Montserrat': 18, 'Brisa': 20, 'Liliana': 21, 'Victoria': 27, 'Nora': 22, 'Daniela': 26, 'Elisa': 20, 'Ailyn': 21}

### Sets
* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [18]:
import random as r

set1=set()

for i in range(1,101):
    i=(r.randint(1,25))
    set1.add(i)
    
print (set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

* Comprueba la longitud de tu set.

In [20]:
longset=len(set1)
print("La longitud del set creado es de: ", longset)

La longitud del set creado es de:  25

* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [26]:
import random as r
lista5=[]
for i in range(1,6):
    lista5.append(r.randint(1,10))
print (lista5)

for i in range(len(lista5)):
    comprobar = lista5[i] in set1
    if comprobar==True:
        print("\nEl número:",lista5[i],"se encuentra en el set")
    else:
        print("\nEl número:",lista5[i],"no se encuentra en el set")

[6, 8, 6, 7, 10]

El número: 6 se encuentra en el set

El número: 8 se encuentra en el set

El número: 6 se encuentra en el set

El número: 7 se encuentra en el set

El número: 10 se encuentra en el set